html{
    font-size: 16px;
}

body{
    background-color: #000000;
    margin: 0px;
}

#menu{
    height: 100vh;
    display: flex;
    align-items: center;
}


.menu-item{
    color: white;
    font-size: clamp(2.5rem, 3.5rem, 4rem); 
    font-family: serif;
    
    opacity: 0.5;
    display: block;
    text-decoration: none;
    padding: 11px;
}

#menu-items{
    margin-left: clamp(4rem, 20vw, 48rem);
}


.menu-item:hover{
    opacity: 1;
}


#menu-background-pattern {
    height: 100vh;
    width: 100vw;

    background-image: radial-gradient(
        rgba(255, 255, 255, 0.181) 9%,
        transparent 9%
    );
    background-position: 0% 0%;
    background-size: 0px 0px;

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;

    transition: opacity 1200ms ease,
        background-size 1200ms ease;
}

#menu-items:hover ~ #menu-background-pattern {
    background-size: 10px 10px;
}

#menu[data-active-index="0"] #menu-background-pattern {
    background-size: 20px 20px;
}

#menu[data-active-index="1"] #menu-background-pattern {
    
    background-size: 30px 30px;
   
}

#menu[data-active-index="2"] #menu-background-pattern {
    
    background-size: 40px 40px;
    
}

#menu[data-active-index="3"] #menu-background-pattern {
    
    background-size: 50px 50px;
    
}


#menu-background-image {
    height: 100%;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1495291916458-c12f594151e7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-position: center;
    opacity: 0.7;
    position: absolute;
    z-index: -2;
    transition: opacity 1200ms ease;
}

#menu-items:hover ~ #menu-background-image{
    opacity: 0;
}



#menu-background-image-1 {
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1517181875630-f72350452109?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-position: center;
    opacity: 0;
    position: absolute;
    z-index: -3;
    transition: opacity 1200ms ease;
}

#menu-items:hover ~ #menu-background-image-1{
    opacity: 0.5;
}
